.Footer-module__footer--rjRmQ {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--stack-gap-condensed);
  justify-content: space-between;
  min-height: 36px;
  padding-top: var(--base-size-8);
}
.Footer-module__footerWrapper--ObMEq {
  align-items: center;
  display: flex;
  font-size: var(--text-body-size-small);
  gap: var(--base-size-4);
}
.Footer-module__footerButtonWrapper--TedKn {
  display: flex;
  gap: var(--stack-gap-condensed);
}
.Footer-module__footerButton--zxnP6 {
  color: var(--fgColor-muted) !important;
  font-weight: var(--base-text-weight-normal) !important;
  padding-left: var(--base-size-8);
  padding-right: var(--base-size-8);
}
.Footer-module__childrenStyling--cH0iq {
  display: flex;
  flex-wrap: wrap;
  gap: var(--stack-gap-condensed);
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}
.Footer-module__spacious--VlAKA {
  display: none;
}
.Footer-module__condensed--o9bUn {
  display: inherit;
}
@container MarkdownEditor (min-width: 675px) {
  .Footer-module__spacious--VlAKA {
    display: inherit;
  }
  .Footer-module__condensed--o9bUn {
    display: none;
  }
}
.Label-module__inputLabel--EMji4 {
  cursor: default;
  margin-bottom: var(--base-size-4);
}
.ErrorMessage-module__flash--Fb4_Y {
  border-bottom-left-radius: var(--borderRadius-medium);
  border-bottom-right-radius: var(--borderRadius-medium);
  font-size: var(--text-body-size-medium);
  /* !important is needed until the Primer flash component is migrated to CSS modules */
  padding: var(--base-size-8) !important;
}
.MarkdownEditor-module__container--xSX9w {
  container: MarkdownEditor/inline-size;
  display: flex;
  flex-direction: column;
}
.MarkdownEditor-module__inputWrapper--L6JTI {
  background: var(--bgColor-default);
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  border-style: solid;
  border-width: var(--borderWidth-thin);
  color: var(--fgColor-default);
  display: flex;
  flex-direction: column;
  min-inline-size: auto;
  width: 100%;
}
.MarkdownEditor-module__fieldSet--QLrYu {
  appearance: none;
  border: none;
  min-inline-size: auto;
}
.MarkdownEditor-module__previewHeader--ktZV6 {
  clip-path: circle(0);
  position: absolute;
}
.MarkdownEditor-module__fullHeight--No1e6 {
  height: 100%;
}
.MarkdownEditor-module__hidden--tMY1v {
  display: none;
}
.MarkdownEditor-module__disabled--jxhXI {
  color: var(--fgColor-muted);
}
.MarkdownEditor-module__inputWrapper--L6JTI:focus-within {
  outline: 2px solid var(--bgColor-accent-emphasis);
  outline-offset: -1px;
}
.MarkdownEditor-module__previewWrapper--Bfk_2 {
  background: var(--bgColor-default);
  border-color: var(--borderColor-default);
  border-radius: var(--borderRadius-medium);
  border-style: solid;
  border-width: var(--borderWidth-thin);
  display: flex;
  flex-direction: column;
  min-inline-size: auto;
  width: 100%;
}
.MarkdownEditor-module__header--OuWiJ {
  background-color: var(--bgColor-muted, var(--color-canvas-subtle));
  border-top-left-radius: var(--borderRadius-medium);
  border-top-right-radius: var(--borderRadius-medium);
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 600px) {
  .MarkdownEditor-module__header--OuWiJ {
    flex-direction: unset;
  }
}
.MarkdownEditor-module__viewSwitchWrapper--oQoLo {
  align-items: flex-end;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  margin-left: -1px;
  margin-top: -1px;
}
.MarkdownEditor-module__viewSwitchBorder--S43Dz {
  border-bottom: var(--borderWidth-thin) solid;
  border-bottom-color: var(--borderColor-muted);
  flex-grow: 1;
}
.MarkdownEditor-module__previewViewerWrapper--rhH_h {
  box-sizing: border-box;
  overflow: auto;
  padding: var(--base-size-16);
}
.MarkdownInput-module__textArea--kLNLR {
  border-style: none !important;
  box-shadow: none;
  outline-offset: -4px;
}
.MarkdownInput-module__textArea--kLNLR textarea {
  line-height: var(--text-body-lineHeight-medium, 1.4285);
  padding: var(--base-size-16) !important;
  resize: vertical !important;
}
.MarkdownInput-module__fullHeight--HWXka
  :is(.MarkdownInput-module__textArea--kLNLR textarea) {
  resize: none !important;
}
.MarkdownInput-module__textArea--kLNLR.MarkdownInput-module__monospace--ktxaS {
  font-family: var(--fontStack-monospace);
}
.MarkdownInput-module__textArea--kLNLR:focus-within {
  box-shadow: none !important;
  outline: none !important;
}
.MarkdownInput-module__displayNone--tQubM {
  display: none !important;
}
.MarkdownInput-module__fullHeight--HWXka {
  height: 100% !important;
}
.MarkdownInput-module__isDraggedOver--hTZEP {
  outline: dashed 2px var(--borderColor-default) !important;
}
.use-mention-suggestions-module__identifierText--jeSK0 {
  font-weight: var(--base-text-weight-semibold);
}
.use-reference-suggestions-module__suggestionTitle--NZoUv {
  display: block;
  font-weight: var(--base-text-weight-semibold);
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ToolbarButton-module__iconButton--o0jFl {
  color: var(--fgColor-muted);
}
@container MarkdownEditor (max-width: 675px) {
  .ToolbarButton-module__iconButton--o0jFl {
    font-size: var(--text-body-size-small);
    gap: var(--control-small-gap);
    height: var(--control-small-size);
    padding: 0 var(--control-small-paddingInline-condensed);
    width: var(--control-small-size);
  }
}
.Toolbar-module__divider--Kctb6 {
  border-left: var(--borderWidth-thin, var(--borderWidth-thin)) solid
    var(--borderColor-muted, var(--color-border-muted));
  display: inline-grid;
  height: calc(var(--control-medium-size, 32px) / 2);
  margin: 0 var(--controlStack-medium-gap-condensed, var(--base-size-8));
}
.Toolbar-module__toolbar--TBvFM {
  align-items: center;
  border-bottom: var(--borderWidth-thin) solid;
  border-bottom-color: var(--borderColor-default);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0;
  margin-bottom: var(--base-size-8);
  padding-left: var(--base-size-4);
  padding-right: var(--base-size-4);
}
@media screen and (min-width: 600px) {
  .Toolbar-module__toolbar--TBvFM {
    justify-content: flex-end;
    margin-bottom: 0;
    padding-left: var(--base-size-8);
  }
}
.Toolbar-module__spacious--TPl3v {
  display: none;
}
@container MarkdownEditor (min-width: 675px) {
  .Toolbar-module__spacious--TPl3v {
    display: inherit;
  }
}
.Footer-module__spacious--VlAKA {
  display: inherit;
}
.Footer-module__condensed--o9bUn {
  display: none;
}
.ToolbarButton-module__iconButton--o0jFl {
  font-size: var(--text-body-size-small);
  gap: var(--control-small-gap);
  height: var(--control-small-size);
  padding: 0 var(--control-small-paddingInline-condensed);
  width: var(--control-small-size);
}
.Toolbar-module__spacious--TPl3v {
  display: inherit;
}
