.ControlsDialog-module__Dialog--HWRIK {
  width: 80rem !important;
}
.NestedListView-module__container--AjxDm .PRIVATE_TreeView-item-container {
  --spacer-width: calc(
    (var(--level) * 2 - 2) * (var(--toggle-width) / 2)
  ) !important;
}
.Selection-module__checkbox--KyrMU {
  margin-top: var(--leading-icon-offset) !important;
}
.LeadingVisual-module__container--lXqCp.LeadingVisual-module__hasNewActivity--cLEiZ {
  top: 0;
}
.LeadingVisual-module__visualContainer--xKxNe {
  top: calc(var(--leading-icon-offset) * 2);
}
.IssueMetadata-module__issueMetadata--hs7HR {
  display: none;
}
.HeaderViewer-module__headerContainer--kkVCB {
  padding-top: 0;
}
.HeaderViewer-module__minimalHeader--O9qRU {
  align-items: flex-start !important;
  display: flex !important;
}
.JumpToBottom-module__jumpToBottom--JczYs {
  display: none;
}
.IssueViewer-module__metadataHeader--OGi4i {
  display: none;
}
.IssueViewer-module__largeScreenMetadataHeader--xPLHt {
  display: none;
}
.LayoutHelpers-module__nonLeadingElement--XSKiQ {
  margin-left: 56px;
}
