.Description-module__container--Zwqe8 {
  align-items: center;
  color: var(--fgColor-muted);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--text-body-size-small);
  font-weight: 400;
  gap: var(--base-size-4);
  width: 100%;
}
.Description-module__container--Zwqe8:where(
  .Description-module__compact--Lw6nW
) {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MainContent-module__container--NyRpm {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: var(--stack-gap-normal);
  grid-area: main-content;
  overflow: hidden;
  padding-right: var(--base-size-8);
}
.MainContent-module__inner--qD0Pb {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 0;
  height: 100%;
  min-width: 40%;
  overflow: hidden;
  padding-bottom: 10px;
}
.MainContent-module__inner--qD0Pb:empty {
  padding-bottom: var(--base-size-4);
}
.MainContent-module__inner--qD0Pb:where(.MainContent-module__compact--S3brA) {
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  padding-bottom: unset;
}
@media screen and (min-width: 544px) {
  .MainContent-module__inner--qD0Pb:where(.MainContent-module__compact--S3brA) {
    align-items: center;
    flex-direction: row;
    gap: 0;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .MainContent-module__inner--qD0Pb:where(.MainContent-module__compact--S3brA) {
    gap: var(--base-size-4);
  }
}
.ActivityHeader-module__activityHeader--WiwzD {
  grid-template-areas: "avatar     title   edits     badges      actions" "avatar     footer  footer     footer       footer";
  grid-template-columns: auto 1fr auto auto auto;
}
.ActivityHeader-module__narrowViewportWrapper--k4ncm
  .ActivityHeader-module__footer--ssKOW {
  padding-bottom: 0;
}
.ActivityHeader-module__edits--WkfqY {
  align-items: center;
}
.ActivityHeader-module__activityHeader--WiwzD {
  display: flex;
}
.ActivityHeader-module__footer--ssKOW {
  font-size: var(--text-body-size-medium, 14px);
  padding-bottom: 0;
}
.ActivityHeader-module__narrowViewportWrapper--k4ncm {
  display: flex;
}
.ActivityHeader-module__edits--WkfqY {
  align-items: center;
}
.ActivityHeader-module__activityHeader--WiwzD {
  display: flex;
}
.ActivityHeader-module__footer--ssKOW {
  font-size: var(--text-body-size-medium, 14px);
  padding-bottom: 0;
}
.Avatar-module__avatarOuter--waYVs {
  display: flex;
}
.Avatar-module__avatarInner--leXLe {
  display: none !important;
}
.MarkdownLastEditedBy-module__lastEditInfoContainer--EN_Qz {
  font-size: var(--text-body-size-small) !important;
}
